*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

main{
  color: white;
  position: relative;
  display: flex;
  height: calc(100vh - 90px);
}

aside{
  padding: 20px;
  color: white;
  width: 230px;
  height: 100%;
  background: black;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;

}
#products{
  height: 100%;
  width: calc(100% - 230px);
  background: #141922;
}
@media screen and (max-width:600px){
  #products {
    width: calc(100% - 50px);
  }
}

footer {
  height: 90px;
  width: 100vw;

}

footer section{
  height: 100%;
  width: 100%;
  background-color: #282828;

}
ul{
  list-style-type: none;
}
.playlists::-webkit-scrollbar{
   width: 10px;
}
.playlists::-webkit-scrollbar-track {
  box-shadow:inset 0 0 5px grey;
  border-radius: 10px;
}
.playlists::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.3);
  border-radius: 10px;

}
.playlists::-webkit-scrollbar-thumb:hover {
  background-color: black;
}

h3{
  font-size: 26px;
  font-weight: 800;
}
/* **************************LEFTSIDE************************** */
aside nav{
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 330px;
}
.links{
  margin-bottom: 20px;
}
.links li a{
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}
.links li a:hover, .playlists ul li a:hover{
  cursor: pointer;
  color:green;
}
#navigazione .links li a:focus{
  border-left: 2px solid green;
}
.links img{
  width: 30px;
  margin-right: 10px;
}
.logo{
  padding: 0 70px 0 0;
  margin-bottom: 20px;
}
.playlists{
  overflow-y: hidden;
  line-height: 2;
}
.playlists:hover{
  overflow-y: scroll;
}
.playlists ul li a{
  text-decoration: none;
  color: white;;
}
.playlists ul li a:first-child{
  display: flex;
}
.playlists ul li a:focus{
  color: green;
}
.playlists ul li a:hover img,.playlists ul li a:focus img{
  background-color: green;
}

.playlists img{
  background-color: white;
  width: 28px;
  height: 28px;
  border-radius: 999px;
  margin-right: 10px;

}
aside .account>img:nth-child(1){
  margin-right: 10px;
  width: 10px;
}
aside .accimgname img{
  width: 30px;
  border-radius: 999px;
  margin-right: 10px;
}
.accimgname{
  display: flex;
  align-items: center;
}

aside hr{
  border: 0.5px solid white;
  margin: 5px 0;
}
.logo>img:first-child{
  display: none;
  width: 30px;
}
@media screen and (max-width:600px){
  .logo>img:first-child{
    display: block;
  }
    .logo>img:nth-child(2){
      display: none;
    }
    #navigazione span{
      display: none;
    }
    .playlists{
      display: none;
    }
    aside{
      width: 50px;
      padding: 0;
    }
    .logo{
      padding: 10px 0;
    }
    aside nav{
      align-items: center;
    }
    .links ul img{
      margin: 0;
    }
    .account img{
      margin: 0;
    }
    .account{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

}
@media screen and (max-height:130px){
  aside{
    padding: 0px;
  }
}
/* ************************COVERS*************************** */

#products{
  overflow-y: hidden;
}
#products:hover{
  overflow-y: scroll;
}
#products::-webkit-scrollbar{
   width: 10px;
}
#products::-webkit-scrollbar-track {
  box-shadow:inset 0 0 5px grey;
  border-radius: 10px;
}
#products::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.3);
  border-radius: 10px;

}
#products::-webkit-scrollbar-thumb:hover {
  background-color: black;
}
.mainside>div span{
  color:rgba(255,255,255,0.5);
  font-size: 14px;
}
.layover{
  cursor: pointer;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  left: 0;
  top:0;
  transition: 0.5s;
  background: rgba(0,0,0,0.5)
}
.coverimg:hover .layover{
  opacity: 1;

}
.calltoact{
  background: rgba(0,0,0,0.4);
  height: 90px;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 5;
}
.calltoact a{
  color: white;
  text-decoration: none;
  padding: 10px;
  border: 1px solid white;
  border-radius: 20px;
  transition: 0.5s;
}
.calltoact a:hover{
  border-radius: 50px;
  padding: 15px;
}
.mainside .links ul li{
  padding: 15px;
}
.mainside .links ul li a{
  height: 30px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.mainside .links ul li a:hover{
  color: green;
}
.mainside .links ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.mainside .links ul li a:focus{
  border-bottom: 3px solid blue;
}
.titles>*{
  margin: 10px 0;
}
/* Recenti**************** */

.recent{
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}
.covers{
  overflow-x:hidden;
  display: flex;
  justify-content: space-between;
}
.recent .covers:hover{
  overflow-x: scroll;
}
.recent .covers::-webkit-scrollbar{
   width: 10px;
}
.recent .covers::-webkit-scrollbar-track {
  box-shadow:inset 0 0 5px grey;
  border-radius: 10px;
}
.recent .covers::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.3);
  border-radius: 10px;

}
.recent .covers::-webkit-scrollbar-thumb:hover {
  background-color: black;
}
.cover{
  max-width: 200px;
  margin-right: 15px;
  text-align: center;
}
.coverimg img{
  width: 100%;
}
.cover .coverimg{
  overflow: hidden;
  position: relative;
  min-width: 150px;
  max-width: 200px;
}
/* ***********************personal */
.personal{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 400px;
  padding: 20px;
}

.personal .covers{
  justify-content: flex-start;

}
/* *********************Popolari*/
.popolar .covers{
  justify-content: flex-start;

}
.popolar{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 400px;
  padding: 20px;
}
.popolar .coverimg img, .popolar .coverimg{
  border-radius: 999px;
}
/* ******************player */
#player{
  justify-content: space-between;
  display: flex;
  z-index: 10;
  color: white;
}
.songrightnow{
  width: 230px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.songnow {
  width: 50px;
}
.songnow img{
  width: 100%;
}
.titlesnow span{
  font-size: 10px;
  color: rgba(255,255,255,0.5);
}
.titlesnow h5:hover, .titlesnow span:hover{
  cursor: pointer;
  color:green;
}
.immaginine a{
  color: black;
}
.immaginine a:hover{
  color:green;
}
.immaginine a:focus{
  color: red;
}
/* *****************control */
.songcontrols{
  padding: 5px 0;
  width: 40%;
}

.controls ul{
  display: flex;
  align-items: center;
  justify-content: center;
}
.controls ul li{
  cursor: pointer;
  font-size: 18px;
  padding: 0 10px;
}

.controls ul li:nth-child(3){
  font-size: 30px;
}
.controls ul li:nth-child(3):hover{
  color:green;
}

.bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.time{
  width: 80%;
  background: rgba(255,255,255,0.4);
  border-radius: 20px;
}
.timerightnow{
  cursor: pointer;
  position: relative;
  width: 30%;
  border: 2px solid white;
  border-radius: 20px;
}
.time:hover .timepoint{
  width: 15px;
  height: 15px;
  border-radius: 999px;
  background-color: white;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50% , -50%);
}
.time:hover .timerightnow{
  border: 2px solid green;
}
/* volume***************************** */
.songvolume{
  display: flex;
  width: 230px;
  justify-content: space-around;
  align-items: center;
}
.volume{
  justify-content: space-between;
  width: 150px;
  align-items: center;
  display: flex;
}
.volbar{
  width: 120px;
  background: rgba(255,255,255,0.4);
  border-radius: 20px;

}
.volpercent{
  position: relative;
  width: 30%;
  border: 2px solid white;
  border-radius: 20px;
}
.volume:hover .volpercent{
  border: 2px solid green;
}
.volume:hover .volpoint{
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 999px;
  background-color: white;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50% , -50%);
}
